.vd-s-1 {
  font-family: "Gtwalsheim", Arial, sans-serif;
  color: white;
  padding-top: 140px;
}
.s-main-head {
  font-size: 34px;
  line-height: 1.55;
  font-weight: 400;
}
.s-main-text {
  font-size: 29px;
  line-height: 1.55;
  font-weight: 300;
}
.vd-s-1 {
  background-color: #e60000;
  width: 100%;
  height: 800px;
}
.vd-s-1 .vd-s-main {
  padding-top: 40px;
  position: relative;
}
.vd-s-1 .vd-logo,
.vd-s-1 .s-main-head,
.vd-s-1 .s-main-text,
.vd-s-1 .cirlce-block {
  margin-left: 73px;
}
.vd-s-1 .vd-logo {
  margin-bottom: 25px;
}
.vd-s-2 {
  background-color: #e60000;
  width: 100%;
  height: 800px;
  font-family: "Gtwalsheim", Arial, sans-serif;
  color: white;
}
.vd-s-2 .vd-s-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.vd-s-2 .s-main-head {
  width: 420px;
  font-size: 32px;
  line-height: 1.55;
  font-weight: 400;
  margin-bottom: 20px;
}
.vd-s-2 .s-main-text {
  width: 420px;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 400;
}
.vd-s-2 .vd-logo-2 {
  width: 420px;
  margin-bottom: 20px;
}
.vd-s-2 .vd-logo-2 .vd-logo-img {
  width: auto;
  display: block;
  height: 60px;
}
.vd-s-3 {
  background-color: #e60000;
  width: 100%;
  height: 800px;
  font-family: "Gtwalsheim", Arial, sans-serif;
  color: white;
}
.vd-s-3 .vd-s-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.vd-s-3 .s-main-head {
  width: 420px;
  font-size: 32px;
  line-height: 1.55;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: "Gtwalsheim", Arial, sans-serif;
}
.vd-s-3 .s-main-text {
  width: 420px;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 400;
}
.vd-s-3 .vd-logo-3 {
  width: 420px;
  margin-bottom: 20px;
  height: 80px;
}
.vd-s-3 .vd-logo-3 .vd-logo-img {
  width: auto;
}
.vd-s-3 .vd-s-media-img {
  height: 80vh;
}
.vd-s-4 {
  background-color: #e60000;
  width: 100%;
  height: 800px;
  font-family: "Gtwalsheim", Arial, sans-serif;
  color: white;
}
.vd-s-4 .vd-s-media-img {
  width: 160px;
  height: 160px;
  margin-bottom: 30px;
}
.vd-s-4 .s-main-head {
  width: 560px;
  font-size: 32px;
  line-height: 1.55;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: "Gtwalsheim", Arial, sans-serif;
  text-align: center;
}
.vd-s-4 .s-main-text {
  width: 560px;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 400;
  text-align: center;
}
.vd-bg-img {
  background-image: url("../images/vd-bg.svg");
}
.vd-bg-img-l {
  background-image: url("../images/vd-bg-left.svg");
}
.vd-container {
  max-width: 1440px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}
.vd-s-media {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.vd-s-main {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.vd-mg {
  padding-top: 200px;
}
.cirlce-block {
  height: 220px;
  margin-top: 16px;
}
.vd-cirlce {
  background-color: #9c2aa0;
  border-color: transparent;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.vd-cirlce__big {
  width: 161px;
  height: 161px;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.vd-cirlce__small {
  width: 137px;
  height: 138px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.circle-price {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.circle-price_old {
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
}
.circle-price_old:before {
  content: "";
  border-top: solid #fff 1px;
  display: block;
  position: relative;
  top: 50%;
}
.circle-price_new {
  font-size: 34px;
  line-height: 1;
  font-weight: 600;
}
.circle-price_cur {
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
}
.vd-logo-hand {
  width: 60px;
  height: 40px;
  background-image: url("../images/vd-hand.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.circle-contract {
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.vd-s-media-img {
  text-align: center;
  height: 650px;
}
.vd-s-media-img img {
  height: 100%;
}
@-webkit-keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 0;
  }
}
@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 0;
  }
}
.vd-arrow {
  position: absolute;
  bottom: 0;
  right: 10%;
}
.arrow-animation {
  -webkit-animation: jump 2s infinite linear;
  animation: jump 2s infinite linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}
.arrow-animation:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 40px;
  background-image: url('../images/arrow-anim.svg');
  background-repeat: no-repeat;
}
.vd-section .vd-logo {
  width: 210px;
  height: 51px;
}
.vd-section .vd-logo-img {
  width: 100%;
  height: 100%;
}
.vd-table-show-more {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}
.vd-table-show-more .vd-show-more {
  border: solid black 1px;
  width: 300px;
  height: 50px;
  font-family: "Vodafone Lt", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #333;
  background-color: inherit;
  cursor: pointer;
}
.vd-table-title {
  display: block;
  margin: 30px 0;
  font-family: "Vodafone Rg", sans-serif;
  line-height: normal;
  font-size: 30px;
  text-align: center;
  color: #333;
}
.vd-table-body.vd-table-hide {
  height: 300px;
  overflow: hidden;
  position: relative;
}
.vd-table-body.vd-table-hide:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(42.1%, rgba(255, 255, 255, 0)), color-stop(77.08%, rgba(255, 255, 255, 0.9)), color-stop(91.86%, #ffffff));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 42.1%, rgba(255, 255, 255, 0.9) 77.08%, #ffffff 91.86%);
}
.vd-table-body table {
  width: 800px;
  margin: 0 auto;
}
.vd-table-body table tr th,
.vd-table-body table tr td {
  padding: 20px 5px 20px 20px;
  font-family: "Vodafone Rg", sans-serif;
  line-height: 21px;
  font-size: 16px;
  color: #333;
  font-weight: 400;
  width: 360px;
  text-align: left;
}
.vd-table-body table tr:nth-child(even) {
  background-color: #f4f4f4;
}
.vd-s-6 {
  background-color: #e60000;
  padding-top: 125px;
  padding-bottom: 125px;
  font-family: "Gtwalsheim", Arial, sans-serif;
  color: white;
}
.vd-s-6 .vd-column-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.vd-s-6 .column-info {
  -ms-flex-preferred-size: 26%;
  flex-basis: 26%;
}
.vd-s-6 .column-info-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.vd-s-6 .column-info-head-logo {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}
.vd-s-6 .column-info-head-logo img {
  width: 100%;
}
.vd-s-6 .column-info-head-title {
  color: #ffffff;
  font-size: 26px;
  font-family: 'Gtwalsheim', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
}
.vd-s-6 .column-info-body {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Gtwalsheim', Arial, sans-serif;
  line-height: 1.65;
  font-weight: 400;
}
.vd-s-7 .vd-cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex ;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.vd-s-7 .vd-cart-item-img {
  width: 270px ;
  height: 100px;
}
.vd-s-7 .vd-cart-item-img img {
  height: 100%;
}
.vd-s-7 .vd-cart-item-price,
.vd-s-7 .vd-cart-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.vd-s-7 .vd-cart-item-btn .vodafone-btn {
  background-color: #e60000;
  text-decoration: none;
  width: 280px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Vodafone Rg", sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}
.ds-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ds-f-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
